@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: var(--color-emerald-600);
  --color-primary-dark: var(--color-emerald-800);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
